// === FONT FAMILY ===

.serif {
  font-family: serif;
}

.de-la {
  font-family: "Playwrite DE LA", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.hinamin {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
