---
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="dark">
  <meta name="description" content="射矢より、愛しき愛華へ〜">
  <title>{{ page.title | escape }}</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Playwrite+DE+LA:wght@100..400&family=Noto+Color+Emoji&display=swap" rel="stylesheet">
  <link rel="stylesheet" href={{ "/assets/css/main.css" | relative_url }}>
  {% if page.js -%}
  <script src="{{ '/assets/js/' | append: page.js }}"></script>
  {%- endif %}
</head>
<body>
  {{ content }}
</body>
</html>